.overflow-x-hidden{
    overflow-x: hidden;
}
.stiff{
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.filter{
    min-height: 2.5rem;
    min-width: 13rem;
    font-size: 0.8rem;
    border: 1px solid lightgrey;
    background: transparent;
    padding: 5px 10px;
    border-radius: 3px;
}
