.cart-summary{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E2E6E3;
    opacity: 0.9;
    z-index: 99998;
    min-height: 100vh;
    min-width: 100vw;
}
.content {
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
    z-index: 99999;
    position: absolute;
    background: #F2F2EF;
    right: -400px;
    height: 100vh;
    min-width: 480px;
    max-width: 600px;
    overflow: hidden;
}
.cart-item-list-box{
    height: 65vh;
    overflow-y: scroll;
    box-sizing: content-box;
}
.cart-item-list-box::-webkit-scrollbar {
    display: none;
}
.no-cart-size{
    font-size: 0.8rem;
}
.chev-icon{
    font-size: 1.5rem;
    color: grey;
}
.checkout-btn{
    width: 100% !important;
    min-width: 100% !important;
    height: 3rem;
}


@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

@-webkit-keyframes reverse-slide {
    100% { right: -480px; }
}

@keyframes reverse-slide {
    100% { right: -480px; }
}
