.cursor-pointer{
  cursor: pointer;
}
.grey-bg{
  background: #FCFCFA;
}
.deep-grey-bg{
  background: #E2E6E3;
}
.deep-green-color{
  color: #4B5548 !important;
}
.deep-green-bg{
  background: #4B5548 !important;
}
*{
  font-family: 'Roboto', sans-serif;
}
.font-size-0-9{
  font-size: 0.9rem;
}
.font-size-0-8{
  font-size: 0.8rem;
}
.cart-button-box{
  min-width: 70px;
  max-width: 100px;
  border: 1px solid grey;
  font-size: 0.9rem;
}
